/* base */
*{
    padding: 0;
    margin: 0;
    text-transform: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: default;
}
a{
    text-decoration: none;
    cursor: pointer;
}
body{background-image: url(../img/bg_corn.png);}
button{
    width: 387px;
    height: 94px;
    border-radius: 10px;
    border: none;
    background-color: #f03738;
    color: #fff;
    font-size: 1.7em;
    margin-bottom: 35px;
    outline: none;
    cursor: pointer;
}
button:active{
    border:4px solid #9C9C9C;
    background-color: #9C9C9C;
    color: #fff;
}
button:hover{
    box-shadow: 2px 2px 50px 0px #FF000020;
}
.clearfix{clear: both;}
.left{float: left;}
.right{float: right;}

/* standart */
#Evacuation{display: block;}
#Sto{display: none;}
#Auto_park{display: none;}

/* header */
header{
    width: 80%;
    margin: 0 auto;
    color: #fff;
    padding-top: 100px;
}
.left .logo{
    width: 75px;
    height: 75px;
    margin-right: 30px;
    background-image: url(../img/Logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    vertical-align: top;
    display: inline-block;
}
.left .text_logo{
    display: inline-block;
}
.left .text_logo h1{
    text-transform: uppercase;
}
.left .text_logo p{
    color: #BFBFBF;
}
.right{text-align: right;}
.right .soc a{margin-right: 35px;}
.right .soc a:last-child{margin-right: 0;}
.right .soc div{
    width: 27px;
    height: 27px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    display: inline-block;
    cursor: pointer;
}
.right .soc .tik_tok{background-image: url(../img/tik-tok.png);}
.right .soc .youtube{background-image: url(../img/youtube.png);}
.right .soc .instagram{background-image: url(../img/instagram.png);}
.right .tel{margin-top: 20px;}
.right .tel img{
    display: inline-block;
    width: 23px;
    height: 23px;
    vertical-align: middle;
    margin-right: 13px;
}
.right .tel p{
    display: inline-block;
    font-weight: bold;
}

/* Evacuation hello*/
#Evacuation .hello{
    height: 1080px;
    background-image: url(../img/pc_ver/bg_hello_Evacuation.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100% ;
}
.hello .info{
    width: 1420px;
    margin: 155px auto;
    color: #fff;
}
.hello .info .left{
    width: 800px;
}
.hello .info .left h1{
    margin-bottom: 26px;
    width: 500px;
}
.hello .info .left p{
    font-size: 1.2em;
    margin-bottom: 42px;
}
.hello .info .left .information .first_block{
    display: inline-block;
    margin-right: 50px;
    width: 265px;
}
.hello .info .left .information .second_block{
    display: inline-block;
    width: 260px;
    margin-bottom: 72px;
}
.hello .info .left .information img{
    margin-right: 24px;
    vertical-align: middle;
}
.hello .info .left .information .plus p{
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    margin-bottom: 30px;
}

/* Evacuation menu */
.hello .right menu{
    border-right: 1px solid #fff;
    margin-top: 50px;
    padding: 80px 0;
}
.hello .right menu li{
    list-style: none;
    text-align: right;
    margin-bottom: 25px;
    padding-right: 19px;
}
.hello .right menu li:last-child{margin-bottom: 0}
.hello .right menu li img{
    position: relative;
    background-position: center;
    background-size: auto;
}
.hello .right menu li #Evacuation_a{font-weight: bold;}
.hello .right menu li #Evacuation_img{
    width: 13px;
    left: 26px;
}
.hello .right menu li #Evacuation_a2{font-weight: 300;}
.hello .right menu li #Evacuation_img2{ 
    width: 7px;
    left: 23px;
}
.hello .right menu li #Evacuation_a3{font-weight: 300;}
.hello .right menu li #Evacuation_img3{
    width: 7px;
    left: 23px;
}
.hello .right menu li #Auto_park_a{font-weight: 300;}
.hello .right menu li #Auto_park_img{
    width: 7px;
    left: 23px;
}
.hello .right menu li #Auto_park_a2{font-weight: bold;}
.hello .right menu li #Auto_park_img2{
    width: 13px;
    left: 26px;
}
.hello .right menu li #Auto_park_a3{font-weight: 300;}
.hello .right menu li #Auto_park_img3{
    width: 7px;
    left: 23px;
}
.hello .right menu li #Sto_a{font-weight: 300;}
.hello .right menu li #Sto_img{
    width: 7px;
    left: 23px;
}

.hello .right menu li #Sto_a2{font-weight: 300;}
.hello .right menu li #Sto_img2{
    width: 7px;
    left: 23px;
}

.hello .right menu li #Sto_a3{font-weight: bold;}
.hello .right menu li #Sto_img3{
    width: 13px;
    left: 26px;
}
.price{
    width: 1160.73px;
    margin: 0 auto;
    text-align: left;
}
.price h1{
    margin-top: 200px;
    font-size: 3em;
    color: #150202;
    margin-bottom: 5px;
}
.price .header{
    color: #00000040;
    width: 429px;
    font-size: 1.3em;
    margin-bottom: 54px;
}
.price .merchandisers{
    width: 1161px;
    margin: 0 auto;
}
.price .merchandisers .merchandise{
    width: 284px;
    height: 281px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    display: inline-block;
    margin-right: 150px;
    margin-bottom: 60px;
    box-shadow: 0px 8px 16px 0px #00000012;
}
.price .merchandisers .merchandise:last-child{
    margin-bottom: 200px;
}
.price .merchandisers .merchandise img{
    margin: 30px 0 17px;
    height: 81px;
}
.price .merchandisers .merchandise h2{
    color: #150202;
}
.price .merchandisers .merchandise p{
    color: #00000040;
    margin-bottom: 40px;
}
.price .merchandisers .merchandise .cost{
    display: block;
    color: #F03738;
    font-weight: bold;
    font-size: 2em;
}

/* Evacuation form */
.form{
    height: 825px;
    width: 100%;
    padding-top: 247px;
    background-image: url(../img/pc_ver/bg_form_Evacuation.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:auto 100% ;
}
.form_for_user{
    text-align: center;
    height: 555px;
    margin: 0 auto;
    padding: 54px;
    width: 882px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px #00000012;
}
.form_for_user .treb .info .img{
    width: 35px;
    margin-right: 4px;
}
.form_for_user h1{
    font-size: 2.5em;
    color: #150202;
}
.form_for_user p{
    font-size: 1.5em;
    color: #15020230;
    margin-bottom: 59px;
}
.form_for_user input{
    width: 387px;
    height: 74px;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 23px;
    display: block;
    outline: none;
    border: 2px solid #dadada;
    cursor: text;
}
.form_for_user input:last-child{
    margin-bottom: 36px;
}
/* Auto_park */
#Auto_park .hello{
    height: 1080px;
    background-image: url(../img/pc_ver/bg_hello_Auto_park.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100% ;
}

/* treb */
#Auto_park .info .left .information .cercle{
    width: 15px;
    height: 15px;
    display: inline-block;
    background-image: url(../img/pc_ver/cerkle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    vertical-align: middle;
}
#Auto_park .hello .info .left .information .second_block{
    display: inline-block;
    width: 215px;
    margin-bottom: 72px;
}
#Auto_park .form{
    background-color: #fff;
    background-image: none;
}
#Auto_park .form_for_user{
    border-radius: 0;
}
.treb h1{
    margin-bottom: 52px;
}
.treb .info span{
    width: 200px;
    margin-right: 30px;
}
.treb .info span{

}

.treb .info .info{
    display: inline-block;
    text-align: left;
}

.treb .info h1{
    font-size: 1.4em;
    margin-bottom: 0;
}
.treb .info p{
    font-size: 1em;
}

/* Sto hello */
#Sto .hello{
    height: 1080px;
    background-image: url(../img/pc_ver/bg_hello_sto.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100% ;
}
#Sto .hello .info .when{
    width: 280px;
    display: inline-block;
    position: relative;
    margin-left: 40px;
    top: 18px;
}
#Sto .hello .info .when h1{margin-bottom: 0;}
#Sto .hello .info .when p{margin-bottom: 0;}

.what_we_do{
    width: 1161px;
    margin: 0 auto;
}
/* footer */
footer{
    width: 100%;
    background-color: #fff;
    height: 149px;
    padding-top: 74px;
}
footer .info{
    width: 1161px;
    margin: 0 auto;
}
footer menu{
    position: relative;
    top: 30px;
    width: 350px;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
}
footer menu a{
    text-decoration: underline;
    margin-right: 50px;
    color: #000;
}
footer menu a:last-child{
    margin-right: 0;
}
footer .right{
    position: relative;
    bottom: 20px;
}
footer .right .tel{margin-top: 17px;}
